.about-me-container{
  /* background-color: #008cff1a; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap:1rem;
}

.about-me-container > *{
  font-size:100%;
}

.links-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 1rem;
  width: 30%;
}
