.leave-group-modal{
    background-color: white;
    height: 15rem;
    border:3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
}

.leave-group-modal > p{
    display: flex;
    justify-content: baseline;
    color: rgba(0, 0, 0, 0.713);
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.391);
    width: 100%;
}

.leave-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5rem;
    padding: 2rem 2rem;
    width: max-content;
}

.leave-button-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 80%;
}


.leave-button-container > button{
    height: 2.5rem;
}
