.potential-members-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 18rem;
    height: 20rem;
    border: 3px solid rgba(0, 0, 0, 0.391);
    justify-content: center;
    align-items:center;
    padding: 3rem 2.5rem;
    border-radius: 50px;
    box-shadow: 3px 3px 4px black;

}

.potential-members-container>p {
    display: flex;
    justify-content: baseline;
    color: rgba(0, 0, 0, 0.713);
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.391);
    width: 100%;
}

.potential-members-container>ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    overflow-y: scroll;
    width: 100%;
    scrollbar-color: #008cff;
    scrollbar-width: thin;
}
.potential-members-container>ul >li >*{
    font-size: 1.3rem;
}

.potential-members-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.potential-members-list>p {
    font-size: 15px;
}

.potential-members-list>span>* {
    font-size: 10px;
    cursor: pointer;
}

.potential-members-list>span>i {
    font-size: 10px;
    padding: 7px 7px;
    border: 1px solid rgba(0, 0, 0, 0.392);
    border-radius: 100px;

}

.potential-members-list>span>i:hover {
    background-color: #008CFF;
    color: white;
}

.potential-members-list>span>i:active {
    color: #008CFF;
    background-color: white;
    box-shadow: 1px 1px 2px #049d6f;

}