.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem ;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;
  gap: .5rem;
  width: 20%;
  max-width: 15rem;
  height: auto;
  background-color: white;
  border-radius: 30px;
  /* padding-bottom: 0; */
  border: 3px solid #00000026;

}

.loginForm>* {
  display: flex;
  flex-direction: column;
  padding: 4px;
}


.loginForm>label>input {
  padding: 4px;
  border: 1px solid black;
}

.login-button-container {
  display: flex;
  align-items: center;
}

.login-button,
.pay-request-button,
.toggle-button,
.signup-button,
.logout-button,
.button-containers> button,
.pay-request-button-container > button,
.leave-button-container > button,
.card-buttons > :nth-child(2),
.submit-new-card,
.update-card,
.add-friend-button,
.remove-friend-button,
.trans-details-button-container > button,
.add-member-container > *,
.leave-group-container > *{
  border: none;
  overflow: hidden;
  width: 100%;
  word-wrap:break-word;
  text-align: center;
  background-color:#008CFF;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 2px 2px 1px rgb(105, 239, 152);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.login-button:hover,
.toggle-button:hover,
.pay-request-button:hover,
.signup-button:hover,
.logout-button:hover,
.button-containers> button:hover,
.pay-request-button-container > button:hover,
.card-buttons > :nth-child(2):hover,
.submit-new-card:hover,
.update-card:hover,
.leave-button-container > button:hover,
.add-friend-button:hover,
.trans-details-button-container > button:hover{
  background-color:#0037ff;
  color: white;
}
.login-button:active,
.toggle-button:active,
.pay-request-button:active,
.signup-button:active,
.logout-button:active,
.button-containers> button:active,
.pay-request-button-container > button:active,
.card-buttons > :nth-child(2):active,
.submit-new-card:active,
.update-card:active,
.add-friend-button:active,
.leave-button-container > button:active,
.trans-details-button-container > button:active{
  background-color:#008cff4d;
  box-shadow: 1px 1px 2px #049d6f;

}
