.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0rem ;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;
  gap: .5rem;
  width: 25%;
  height: auto;
  background-color: white;
  border-radius: 30px;
  /* padding-bottom: 0; */
  border: 3px solid rgba(0, 0, 0, 0.149)

}

.loginForm>* {
  display: flex;
  flex-direction: column;
  padding: 4px;
}


.loginForm>label>input {
  padding: 4px;
  border: 1px solid black;
}

.login-button-container {
  display: flex;
  align-items: center;
}

.login-button,
.pay-request-button,
.toggle-button,
.signup-button,
.logout-button,
.button-containers> button,
.pay-request-button-container > button{
  border: none;
  /* width: 55%; */
  width: 100%;
  text-align: center;
  background-color:#008CFF;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
