
.member-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  padding: 20px 20px 10px 20px;
  background-color: white;
  width: 15rem;
  border-radius: 5px;
  cursor:auto;
}

.members-button{
  border: none;
  overflow: hidden;
  width: 100%;
  word-wrap:break-word;
  background-color:white;
  color: #008CFF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.member-container > p{
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  color: #008CFF;
  border-bottom: 2px solid rgba(0, 0, 0, 0.391);
}

.member-container > ul > li{
  list-style-type: none;
}

.member-container > ul {
  display: flex;
  flex-direction: column;
  gap:12px;
}

.setting-dropdown {
  position: absolute;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  list-style-type: none;
  padding: 20px 20px 10px 20px;
  position: absolute;
  top: 60px;
  right: 140px;
  background-color: white;
  min-width: 1rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.add-member-container > *{
  display: flex;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leave-group-container > *{
  background-color: #d81159;
}

.hidden {
  display: none;
}

