.trans-feed-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 60%; */
}
.toggle-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border-radius: 20px;
  margin: 2rem 2rem;
}
.button-containers{
  width: 5rem;
  min-width: 11%;
  padding: 0rem 1rem ;
  /* max-width: 70%; */
}

.all-trans-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  gap: 1.5rem;
  width: 90%;
  min-width: 20rem;
}

.trans-card {
  width:80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: .2px solid rgba(0, 0, 0, 0.195);
}
.left-trans{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-bottom: 1.5rem;
}
.mid-trans{
  font-size: 12px;
}

.positive-trans{
  color:#049d6f;
}

.negative-trans{
  color: #d81159;
}

.group-trans{
  color:#008CFF;
}