nav {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  background-color:#008cff14;
  gap: 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0.231);
  border-radius: 12px;
  height: fit-content;
  width: 15rem;
  box-shadow: -15px -15px 31px black;
}

.pay-request-button > .navlink{
  color: white;
}

.balance-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px 0px;
  border-bottom: .2px solid rgba(0, 0, 0, 0.195);
}

.user-balance{
  font-size: 30px;
}

.username{
  color: rgba(0, 0, 0, 0.509);
  font-size: smaller;
}
.first-last-name{
  color: black;
  padding: .5rem 0rem ;
  font-size: 20px;
}

.important-navlinks:hover{
  text-decoration: underline;
}
